body {
    text-align: center;
    font-family: helvetica;
}

h1{
    font-size: 70px;
    font-weight: :bold;
    color:white;
}

h2 {
    font-size:32px;
    font-weight: bold;
}

a {
    font-size:18px;
    color:white;
}

#home {
    background-image: url("../images/the-flatiron-building.png")
}

#header2 {
    background-image: url("../images/the-flatiron-building.png")
}